[Desktop Entry]
Version=1.1
Type=Application
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Icon=chromium
Exec=/usr/local/bin/chromium %U
Actions=new-window;new-private-window;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/chromium --incognito
