#!/bin/sh

dpkg-divert --rename \
    --divert /usr/share/wayland-sessions/sway.desktop.real \
    --add /usr/share/wayland-sessions/sway.desktop

cat <<EOF > /var/lib/AccountsService/users/$DEFAULT_USER
[User]
Session=sway
Icon=/home/$DEFAULT_USER/.face
SystemAccount=false
EOF

{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
pip3 install autotiling --break-system-packages
pip3 install pulsectl --break-system-packages
{% else %}
pip3 install autotiling
pip3 install pipx
pip3 install pulsectl
{% endif %}
