[Desktop Entry]
Version=1.1
Type=Application
Name=MenuLibre
Comment=Add or remove applications from the main menu
Icon=menulibre
NotShowIn=KDE;
Exec=menulibre
Actions=
Categories=DesktopSettings;GNOME;Settings;Utility;
StartupNotify=true
