#!/bin/sh

export CHROOT=/target
export DEFAULT_USER=$(echo $(ls $CHROOT/home) | sed 's|\s.*$||g')
[ -f /root/install/envs ] && . /root/install/envs || true

mkdir -p $CHROOT/var/log/install
exec > $CHROOT/var/log/install/debian-install-pi.log 2>&1

if [ -d /root/install/filesystem ]; then
    rsync -a /root/install/filesystem/ $CHROOT/
fi

if [ -d $CHROOT/root/install/fonts ]; then
    cd $CHROOT/root/install/fonts
    for f in $(cat *.list); do
        curl -LO $f
        # TODO: support tar and tar.gz
        unzip *.zip || true
        # TODO: support otf fonts
        cp *.ttf $CHROOT/usr/local/share/fonts 2>/dev/null || true
    done
    cd -
fi
chroot $CHROOT sh -c \
    'fc-cache -f -v'

if [ -f $CHROOT/root/install/hooks/post-install.sh ]; then
    chroot $CHROOT su -c \
        "cd / && sh /root/install/hooks/post-install.sh 2>&1 > /var/log/install/post-install.log"
fi
if [ -f $CHROOT/root/install/hooks/user-post-install.sh ]; then
    chroot $CHROOT su -c \
        "touch /var/log/install/user-post-install.log"
    chroot $CHROOT su -c \
        "chown $DEFAULT_USER:$DEFAULT_USER /var/log/install/user-post-install.log"
    chroot $CHROOT su $DEFAULT_USER -c \
        "cd /home/$DEFAULT_USER && sh /root/install/hooks/user-post-install.sh 2>&1 > /var/log/install/user-post-install.log"
fi

if [ "<% $DEBUG %>" = "false" ]; then
    rm -rf $CHROOT/var/log/install
fi

rm -rf \
    $CHROOT/root/install

exit 0
