PYTHON_VERSION="$(cat .python-version)"
if which pyenv >/dev/null 2>&1; then
    pyenv versions | sed 's|^\*| |g' | tr -s ' ' | cut -d' ' -f2 | grep $PYTHON_VERSION ||
        pyenv install $PYTHON_VERSION
fi
if [ ! -d env ]; then
    python -m venv env
fi
. env/bin/activate
