- name: waydroid
  repo: "deb https://repo.waydro.id bookworm main"
  binary: true
  live: true
  installed: true
  key: |
    -----BEGIN PGP PUBLIC KEY BLOCK-----

    mQGNBGEJDPQBDAC84Q10mBdiWBp4Bpi/eZao05QYRzap/KQioth/IGgF/C9y2n4g
    86iFw4uLqDQ0tXDfnczq0SMW6XK0CFDqkhDH5GAPE2IGiB5tpQateDRRZNwerfLJ
    JvagpOcukckcVsoJGt0odq8u9UGKnP1NS3h3vCkqBGeK7rq2Uy5iouVngsq1k/LB
    wv9yA8+tDJFWgdtks/HR13jnPoawxKz8lGORxWiaDF1b1CJ2AIahcnVHkTsscJB2
    WP+7T3tmiUfmEmEYc1d0dGa0Iip+dlMcn+FGLLBgwTfWYdg9U1juAnvHGT3piJdV
    oOfB1+OeEwTHunQEFGxchmgAnCr9izTsNTlQuRrGlQBweSIgjaFoL2TjIif7N4Tw
    8dJ/Cuk8oGx7MeMsMHVD49jkg7BiVpRh4jAR3EnXU3h2SXh9RuxCNYsezPxL4x8H
    5vAujGIs90/59x4YHpBPrGy3Nfc4mgOp7MRqkPkFaBg0TmKS7M7dGWW15V7/Flh8
    oZgcJCpd5PY7WeEAEQEAAbQoQ3phcmVrIE5ha2Ftb3RvIDxhYnN0cnVzZUBtcmN5
    amFuZWsubmV0PokB1AQTAQoAPhYhBA0nQ6JDKK4GNN81V5Wf406Q5RUiBQJhCQz0
    AhsDBQkDwmcABQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEJWf406Q5RUixaEL
    /RSusTTL1zNvTFjFbErg8tH6Zu6CH5YKB1bc32ME05R5Mj/popVGV8cjD2f61VxS
    EdPj4FyqHxlJGy4YjjOpN5R+1HCXVjsVPkkJyKmeLLP6CqgLwcA6Z1qciTDjrw/2
    98g5W4+q4YXmd+IzGrVgh2ej03XT65wcPeJebQ6+64z4Cv6BmC/9Hvu1Y/EohGem
    6d5K0UVBZeiQ0PdYb3/xwvXRpASTz1F6/1WasjaDtGMaNHSkSFfuRCJsAVOzcJ6i
    t/85ShmgCbGZkA3piMSI2VtlZMU5kuq9OWzovDZtbCy4+eVyK15M8zJjVv7NVjAr
    wAu+HYFVbykKgTi4m0pbawlkErOa0N4DjRe8t3O3lK6RRYXts+xY2wtwtiBbZtLf
    GrcynY/Lw0tRCrieBvw+IJmpK5AlJxAbCgXAz+fnQ6X/mrhPgcCby9GMrK1H6mcR
    h2HXtsjAHQkkYw6g5gj6Z8b6olWS3yqVl3wP741C4pOVmWASGpuDr+NGJ1RV4e6r
    87kBjQRhCQz0AQwAqfrBTBLTs58ICkYcm3hBEuNqjM1+dppfZguSmcvH7qIvfBy3
    H/IED3I3eAblftsbkv6Z+mNmRWSCBzLEw/o5eG8O+rsfwWcFQJJABDE/mmhcbqDr
    UH9pnie78stkJBtp/I6d8S+N6RKfa781q/fk+0jLc4wgYWVdB4+3IMdR27oP+xCy
    qPyOF8xieMbw3kqZmmpk8EOjoBwMz1UHIH2vUPe75xL6eHwQfiJ9q/AAUgKCry5m
    av0HVpyAMriGtlo3XFyFzqIDSyCwa7LNlWhd1yUoEPM2C4BTavIQL5/JlKyl4j4s
    HaAAYc7e+Ke3njHR4XS1RKnUe0G4Yt/ff2MLVDxqAm+FTTr4FZ4Y4MEtZqv2oV2r
    sK+J2h4+cssgB1PKRN+/VPKc04DI02SCmiRbkcwOrqqWqLZGr3PDoG1kc1Fi5Vwo
    ecQiDjtnAy/gdaydRhR1HFrhDUnFhFH4jjwxwPp6hWR1BrC7C7dffiP8E0rshwa0
    BWryfI3yJa6IFvxnABEBAAGJAbwEGAEKACYWIQQNJ0OiQyiuBjTfNVeVn+NOkOUV
    IgUCYQkM9AIbDAUJA8JnAAAKCRCVn+NOkOUVIliyC/92lcXH8ZFZImT9AJoO5Y9H
    lckR36EJJFY+QwLxSZAy7NCjHrzUHLL3tUmhfAesiXPzW1ah8TJ0tQlBNNcVIuXM
    o+IazuB9lFyeb2QVa61CZNUGUyHYhLcU/qk7hFqQJW/mXDceTY/VwM6P2BmanEYO
    MWemJIWSfuuxPwuoExxs1mCiGV8dQ0a8Y0nkwJj0Y+qi29qyleAj3Hm9FAKRkTxm
    +l65Kgjxj4X0OIe5rFOaJcHCRII0HExVagJmPf4j0Ku8GvwNNVXEtJZnAtmPQqeV
    OV+jlWZ8LC/k+/E4OV0g2rdjNxIrAgx3ZT3lZdBBolfM8TQZdhxMkgW3Kf11gwPW
    jOyT2wiH/rjkloGbfjoHkNaA9qS4+7mNIOX3hMYThP0y+FhVUFqqEIQ45UdTJU7C
    bVC+Tt+7LmIz7uKYjxQn9JsC0SiF9d9eZoee/7KmtseEsx1PP5JBEIrobqfyPyct
    yCT6sfkug16HQZ6jSZtwGj1slIAehBh8tCIZ7EJ0lv0=
    =Iv7p
    -----END PGP PUBLIC KEY BLOCK-----
