#!/bin/sh

librewolf -headless &
PID=$!
sleep 10
kill $PID
curl -L https://gitlab.com/bitspur/community/firefox-sway-gnome-theme/-/raw/109/scripts/install-by-curl.sh | bash

xdg-settings set default-web-browser librewolf.desktop
