#!/bin/sh

CHROOT=$(mount | grep proc | grep calamares | awk '{print $3}' | sed -e "s#/proc##g")
mkdir -p $CHROOT/var/log/install
exec > $CHROOT/var/log/install/debian-install-post-install.log 2>&1
DEFAULT_USER=$(echo $(ls $CHROOT/home) | sed 's|\s.*$||g')
[ -f /root/install/.envs ] && export $(cat /root/install/.envs | grep -v '#') || true

mkdir -p /log/calamares

if [ -d /root/install/filesystem ]; then
    yes | cp -R --no-dereference --preserve=all --force --one-file-system \
        --no-target-directory "/root/install/filesystem/" "$CHROOT" >&2
fi

# disable sudo password
rm -rf $CHROOT/etc/sudoers.d/10-installer

# if [ -d $CHROOT/root/install/fonts ]; then
#     cd $CHROOT/root/install/fonts
#     for f in $(cat *.list); do
#         curl -LO $f
#         # TODO: support tar and tar.gz
#         unzip *.zip || true
#         # TODO: support otf fonts
#         cp *.ttf $CHROOT/usr/local/share/fonts 2>/dev/null || true
#     done
#     cd -
# fi

chroot $CHROOT sh -c \
    'fc-cache -f -v'

if [ -f $CHROOT/root/install/hooks/post-install.sh ]; then
    chroot $CHROOT su -c \
        "cd / && sh /root/install/hooks/post-install.sh 2>&1 > /var/log/install/post-install.log"
fi
if [ -f $CHROOT/root/install/hooks/user-post-install.sh ]; then
    chroot $CHROOT su -c \
        "touch /var/log/install/user-post-install.log"
    chroot $CHROOT su -c \
        "chown $DEFAULT_USER:$DEFAULT_USER /var/log/install/user-post-install.log"
    chroot $CHROOT su $DEFAULT_USER -c \
        "cd /home/$DEFAULT_USER && sh /root/install/hooks/user-post-install.sh 2>&1 > /var/log/install/user-post-install.log"
fi

if [ "{{ deb.debug }}" = "False" ]; then
    rm -rf $CHROOT/var/log/install
    rm -rf \
        /root/install \
        $CHROOT/root/install
fi

chroot $CHROOT su -c \
    "update-grub"

exit 0
