---
componentName:   debian
welcomeStyleCalamares: true
welcomeExpandingLogo: true
windowExpanding: normal
windowSize: 800px,520px
windowPlacement: center

strings:
    productName:         {{ deb.name }}
    shortProductName:    {{ deb.config.shortName }}
    version:             {{ deb.config.version }} ({{ deb.distribution }})
    shortVersion:        {{ deb.config.version }}
    versionedName:       {{ deb.config.shortName }} {{ deb.config.version }} ({{ deb.distribution }})
    shortVersionedName:  {{ deb.config.shortName }} {{ deb.config.version }}
    bootloaderEntryName: {{ deb.config.shortName }}
    productUrl:          {{ deb.config.website }}
    supportUrl:          {{ deb.config.supportUrl }}
    knownIssuesUrl:      {{ deb.config.issuesUrl }}
    releaseNotesUrl:     {{ deb.config.releaseNotesUrl }}
    donateUrl:           {{ deb.config.donateUrl }}

images:
    productLogo:         "debian-logo.png"
    productIcon:         "debian-logo.png"
    productWelcome:      "welcome.png"
    # productWallpaper:  "wallpaper.png"

slideshow:               "show.qml"

style:
   sidebarBackground:    "#2c3133"
   sidebarText:          "#FFFFFF"
   sidebarTextSelect:    "#4d7079"
   sidebarTextSelect:    "#292F34"

slideshowAPI: 2
