---
componentName:   debian
welcomeStyleCalamares: true
welcomeExpandingLogo: true
windowExpanding: normal
windowSize: 800px,520px
windowPlacement: center

strings:
    productName:         <% $OS_NAME %>
    shortProductName:    <% $OS_SHORT_NAME %>
    version:             <% $OS_VERSION %> (<% $OS_DISTRIBUTION %>)
    shortVersion:        <% $OS_VERSION %>
    versionedName:       <% $OS_SHORT_NAME %> <% $OS_VERSION %> (<% $OS_DISTRIBUTION %>)
    shortVersionedName:  <% $OS_SHORT_NAME %> <% $OS_VERSION %>
    bootloaderEntryName: <% $OS_SHORT_NAME %>
    productUrl:          <% $OS_WEBSITE %>
    supportUrl:          <% $OS_SUPPORT_URL %>
    knownIssuesUrl:      <% $OS_ISSUES_URL %>
    releaseNotesUrl:     <% $OS_RELEASE_NOTES_URL %>
    donateUrl:           <% $OS_DONATE_URL %>

images:
    productLogo:         "debian-logo.png"
    productIcon:         "debian-logo.png"
    productWelcome:      "welcome.png"
    # productWallpaper:  "wallpaper.png"

slideshow:               "show.qml"

style:
   sidebarBackground:    "#2c3133"
   sidebarText:          "#FFFFFF"
   sidebarTextSelect:    "#4d7079"
   sidebarTextSelect:    "#292F34"

slideshowAPI: 2
