[Unit]
Description=Redshift adjusts the color temperature of your screen according to your surroundings
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/redshift -l 52.52437:13.41053 -m wayland -t 6500:4000

[Install]
WantedBy=sway-session.target
