#!/bin/sh

cat <<EOF >> /etc/skel/.profile

# start sway
. <(cat /etc/environment.d/sway.conf | sed 's|^|export |')
. /etc/profile
sway
EOF

mkdir -p /var/lib/AccountsService/users
cat <<EOF > /var/lib/AccountsService/users/live
[User]
Session=sway
Icon=/home/live/.face
SystemAccount=false
EOF

{% if deb.distribution == "sid" or deb.distribution == "bookworm" %}
pip3 install autotiling --break-system-packages
{% else %}
pip3 install pipx
pip3 install autotiling
{% endif %}
