#!/bin/bash

FIRMWARE_BASE_URL="{{ overlay.config.firmwareUrl }}"
FIRMWARE_VERSION="current"
if [ "$DISTRIBUTION" = "sid" ]; then
    FIRMWARE_VERSION="20230213"
fi
if [ "$FIRMWARE_BASE_URL" = "" ]; then
    FIRMWARE_BASE_URL="https://cdimage.debian.org/cdimage/firmware/$DISTRIBUTION/$FIRMWARE_VERSION"
fi

mkdir -p firmware
cd firmware
[ -f firmware.list.gz ] || wget "$FIRMWARE_BASE_URL/firmware.list.gz"
[ -f firmware.tar.gz ] || wget "$FIRMWARE_BASE_URL/firmware.tar.gz"
gzip -d firmware.list.gz
tar -xvf firmware.tar.gz
rm -rf firmware.list.gz firmware.tar.gz
cd ../install
[ -f initrd.gz.orig ] || cp -p initrd.gz initrd.gz.orig
[ -f firmware.cpio.gz ] || wget "$FIRMWARE_BASE_URL/firmware.cpio.gz"
cat initrd.gz.orig firmware.cpio.gz > initrd.gz
rm -rf initrd.gz.orig firmware.cpio.gz
