#!/bin/bash

FIRMWARE_URL="{{ overlay.config.firmwareUrl }}"
FIRMWARE_VERSION="current"
if [ "$DISTRIBUTION" = "sid" ]; then
    FIRMWARE_VERSION="20230209"
fi
if [ "$FIRMWARE_URL" = "" ]; then
    FIRMWARE_URL="https://cdimage.debian.org/cdimage/firmware/$DISTRIBUTION/$FIRMWARE_VERSION/firmware.cpio.gz"
fi

cd install
[ -f initrd.gz.orig ] || cp -p initrd.gz initrd.gz.orig
[ -f firmware.cpio.gz ] || echo wget "$FIRMWARE_URL"
[ -f firmware.cpio.gz ] || wget "$FIRMWARE_URL"
cat initrd.gz.orig firmware.cpio.gz > initrd.gz
rm -rf initrd.gz.orig firmware.cpio.gz
