#!/bin/sh

xhost local:root

if [ ! -f "$HOME/.config/sway/initialized" ]; then
    touch -m "$HOME/.config/sway/initialized"
    if which {{ overlay.config.defaultBrowser }} 2>&1 >/dev/null; then
        xdg-settings set default-web-browser {{ overlay.config.defaultBrowser }}.desktop
    fi
    swaycfg color-scheme {{ overlay.config.theme.colorScheme }}
    swaymsg reload
fi
