#!/bin/sh

# . /usr/share/debconf/confmodule

# export CHROOT=/target
# mkdir -p $CHROOT/var/log/install
# exec > $CHROOT/var/log/install/debian-install-early-install.log 2>&1
# export DEFAULT_USER=$(echo $(ls $CHROOT/home) | sed 's|\s.*$||g')
# [ -f /root/install/.envs ] && export $(cat /root/install/.envs | grep -v '#') || true

# cat > $CHROOT/root/MyInstall.template <<EOF
# Template: debian-installer/my-install/title
# Type: text
# # Main menu item
# # :sl1:
# Description: Installation of the core Operating System components has now completed.
#  Additional software, and supporting applications, will now be installed.

# Template: my-install/progress/title
# Type: text
# # :sl1:
# Description: Installing Additional Components...

# Template: my-install/asktheuser
# Type: string
# Description: Just type anything here.
# EOF

# debconf-loadtemplate snare-install $CHROOT/root/MyInstall.template

# STEPS=10
# db_progress START 0 $STEPS my-install/progress/title

# # Do something or other
# db_progress STEP 1

# db_progress INFO snare-install/progress/title
# # Do something or other
# db_progress STEP 1

# db_input critical my-install/asktheuser || true
# db_go

# db_get my-install/asktheuser
# USERRESPONSE=$RET

# echo $USERRESPONSE > $CHROOT/var/log/TheUsersResponse
# chroot $CHROOT sh -c "cat /var/log/TheUsersResponse > /var/log/SomethingElse"

# exit 0
