[Unit]
Description=GNOME Keyring
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
After=sway.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/gnome-keyring-daemon --components=ssh,secrets,pkcs11 --start; /usr/bin/systemctl --user import-environment SSH_AUTH_SOCK;'
