[Unit]
Description=GNOME Session Manager (session: %i)
RefuseManualStart=false
RefuseManualStop=false
OnFailure=gnome-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
After=sway.service

[Service]
Type=notify
ExecStart=/usr/lib/gnome-session-binary --systemd-service --session=%i
ExecStopPost=-/usr/lib/gnome-session-ctl --shutdown
